<template id="template_login_form">
<form class="dialog">
	<input type="password" placeholder="paste personal token">
	<input type="submit" value="Login">
	<label>or get a new personal token <a href="https://github.com/settings/tokens">https://github.com/settings/tokens</a></label>
</form>
</template>

<template id="template_login_button">
	<li><a href="#" id="login_button"></a></li>
</template>

<template id="template_dialog">
	<figure class="dialog"><p><strong></strong></p></figure>
</template>
