html
	overflow-y: scroll

body
	color: #222

main
	margin: 2em 1em

header
	font-size: larger
	font-weight: bold
	border-bottom: 1px solid silver
	h1, p
		margin: 0
		text-align: center
	nav
		margin: 1em
		a
			padding: .5em

footer
	border-top: 1px solid silver
	padding: 2em 1em
